<div id="upload">
  <% unless @photo.new_record? %>
    <div class="photo_full"><%= image_tag(@photo.asset.url, :width=>"600") unless @photo.new_record? %></div>
  <% end %>
  <div class="upload_file">
    <label><%= "#{@photo.new_record? ? 'Upload' : 'Replace'} photo" %></label>
    <div class="helper">Support JPEG, max size 10mb</div>
    <%= form.file_field :asset, :accept => "image/gif,image/jpeg,image/jpg,image/png" %>
  </div>
  <div class="post_form">
    <%= form.label :title, "Title (optional)" %>
    <%= form.text_field :title %>

    <%= form.label :body, "Body (optional)" %>
    <%= form.text_area :body %>
  </div>
</div>
