<div id="upload">
  <div class="upload_file">
    <label>Upload a file</label>
    <div class="helper">Support JPEG, max size 10mb</div>
    <%= image_tag @photo.asset.url(:thumb) unless @photo.new_record? %>
    <%= form.file_field :asset, :accept => "image/gif,image/jpeg,image/jpg,image/png" %>
  </div>
  <div class="post_form">
    <%= form.label :title, "Title (optional)" %>
    <%= form.text_field :title %>

    <%= form.label :body, "Body (optional)" %>
    <%= form.text_area :body %>
  </div>
</div>
