<%- method = @user.new_record? ? :post : :put -%>
<% form_for(:user, @user, :url => admin_user_path, :html => {:method => method }) do |f| -%>
  <div id="settings">
    <table class="form">
      <tr>
        <td class="label"><%= f.label :title, "Blog Title" -%></td>
        <td class="field"><%= f.text_field :title -%></td>
      </tr>
      <tr>
        <td class="label"><%= f.label :name, "Author Name" -%></td>
        <td class="field"><%= f.text_field :name -%></td>
      </tr>
      <tr>
        <td class="label"><%= f.label :photo_width, "Photo Width" -%></td>
        <td class="field"><%= f.text_field :photo_width, :class => 'short' -%> pixels <span class="helper">(we recommend 800px)</td>
      </tr>
      <tr>
        <td class="label top"><%= f.label :about, "About / Info" -%></td>
        <td class="field"><%= f.text_area :about -%></td>
      </tr>
      <tr>
        <td class="label top"><%= f.label :footnotes -%></td>
        <td class="field"><%= f.text_area :footnotes -%></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="buttons"><%= f.submit "Save Settings" -%></td>
      </tr>
    </table>
  </div>
<% end -%>
