<tr>
  <td class="thumbnail">
    <%= image_tag photo.asset.url(:thumb) %>
  </td>
  <td class="body_info">
    <div class="date_title">
      <%= photo.created_at.to_s(:clean) -%> -
      <%= photo.title %>
    </div>
    <div class="body">
      <%= truncate(photo.body, :length => 100) %>
    </div>
  </td>
  <td class="actions">
    <%= link_to("Edit", edit_photo_path(photo)) %>
    <a href="/">Delete</a>
  </td>
</tr>
