<%- previous_photo  = @photo.previous -%>
<%- following_photo = @photo.following -%>
<div id="topnav">
  <div class="nav" display: none>
    <a href="/about">About</a>
  </div>
  <h1><%= @user.title -%></h1>
</div>
<div class="img">
  <%= link_to(image_tag(@photo.asset.url(@user.photo_width)), photo_path(@photo.previous(circular=true))) %>
</div>
<div class="nav">
  <%= link_to("Previous", photo_path(previous_photo)) if previous_photo -%>
  <%= " | " if previous_photo && following_photo -%>
  <%= link_to("Next", photo_path(following_photo)) if following_photo %>
</div>
<div class="words">
  <h2>
    <%= @photo.title %>
    <span class="date"><%= @photo.created_at.to_s(:clean) -%></span>
  </h2>
  <%= simple_format(@photo.body) %>
</div>

<div id="footer">
  <%= @user.footnotes -%> | 
  <%= link_to("Powered by Pharm", "http://github.com/iridesco/pharm") %>
</div>